<h1>IDEABOX</h1>

 <div class='idea-contents'>
   <h2 class='title'>アイディア一覧</h2>
   <ul class='idea-lists'>
     <div class="card__wrapper">
       <%= render partial: 'idea', collection: @idea %>
     </div>
 </div>
  