.box {
 width: 60%;
 height: 60%;
 display: block;
 margin: auto;
}

.category {
  width: 20%;
  background-color:#f7b553;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  border:solid 1px
}

.card__title {
  font-size: 19px;
}

