.simple_title {
  padding: 30px 0 10px;
  text-align: center;
  font-size: 25px;
}

.member_content {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}

.member_content_title {
  text-align: center;
  font-size: 30px;
}

.field {
  border-top: 1px solid #ccc;
  margin-left: 25px;
  margin-right: 25px;
  padding: 30px 50px 30px;
}

.form-text-wrap {
  display: flex;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.input-default {
  width: 32%;
  height: 28px;
  font-size: 16px;
  resize: none;
}

.input-name {
  height: 28px;
  font-size: 16px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 40px;
  padding-left: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.input-birth-wrap p {
  padding: 0 7px;
}

.actions {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding: 4em 0;
  display: flex;
}

.actions-btn {
  width: 13%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin: auto;
}


